n8n/workflows/workflow-5-gbp-post-drafter.json
{
  "name": "FunLoading360 — GBP Post Drafter (Weekly)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1 }] },
        "triggerOnWeekday": ["Monday"],
        "triggerAtHour": 9
      },
      "id": "cron-weekly",
      "name": "Cron: Mondays 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 400,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Draft a Google Business Profile post for FunLoading360 (UK 360 photo booth hire, Essex/Kent/London). Week of {{ $now.toFormat('yyyy-MM-dd') }}. 150-300 chars, include CTA (Book / Call / Learn more), one specific offer or seasonal hook, and one named service area (rotate weekly: Chelmsford, Southend, London, Bromley, Maidstone). Return JSON: {title, body, cta_type, cta_url, service_area}.\"\n    }\n  ]\n}"
      },
      "id": "claude-draft",
      "name": "Claude: Draft Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": { "httpHeaderAuth": { "id": "anthropic-api", "name": "Anthropic API" } }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "GBP_DRAFTS_SHEET_ID", "mode": "id" },
        "sheetName": "weekly-drafts"
      },
      "id": "sheet-drafts",
      "name": "Sheet: Append draft",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 200]
    },
    {
      "parameters": {
        "sendTo": "funloading360@gmail.com",
        "subject": "GBP post draft — {{ $now.toFormat('yyyy-MM-dd') }}",
        "message": "={{ $json.content[0].text }}\n\nAction: copy/paste into Google Business Profile > Posts. Ready in ~2 min.",
        "options": {}
      },
      "id": "gmail-draft",
      "name": "Gmail: Send draft to inbox",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Cron: Mondays 09:00": { "main": [[{ "node": "Claude: Draft Post", "type": "main", "index": 0 }]] },
    "Claude: Draft Post": {
      "main": [[
        { "node": "Sheet: Append draft", "type": "main", "index": 0 },
        { "node": "Gmail: Send draft to inbox", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
